{% extends "base.html" %}

{% block css %}
#fieldtab {
font-size: 14px;
background: #fff;
margin: 15px;
border-collapse: collapse;
text-align: center;
border-bottom: 2px solid #6678b1;
}
#fieldtab th {
padding: 15px 15px;
border-bottom: 2px solid #6678b1;
}
#fieldtab td {
color: #669;
padding: 6px 8px;
}
.odd {
border-bottom: 1px solid #ccc;
}
#fieldtab tbody tr:hover td {
color: #009;
}
#optbox {
text-align:left;
width: 60%;
}
.light {
text-align: center;
font-size: 12;
color: #888;
}
{% endblock %}

{% block javascript %}
<script type="text/javascript" language="javascript">// <![CDATA[
function checkAll(parent, value) {
var p = document.getElementById(parent);
var kids = p.getElementsByTagName('input');
for (var i=0; i<kids.length; i++) {
  if (kids[i].type == 'checkbox') {
    kids[i].checked = value;
  }
}
}
// ]]></script>
{% endblock %}

{% block content %}
<center>
<h2>SDSS Fields</h2>
{% if cone %}
<h3>{{ total_items }} fields near RA,Dec = ({{ ra }}, {{ dec}}) radius {{ radius }} degrees</h3>
<p>
Get <a href="{% url 'fits_sdss_fields_near' %}?ra={{ra}}&dec={{dec}}&radius={{radius}}&version={{version}}&datatype=sdss">FITS table of SDSS fields</a>
</p>
{% else %}
<h3>{{ total_items }} fields in box RA [{{ ralo }}, {{ rahi }}], Dec [{{declo}}, {{dechi}}] degrees</h3>

<p>
Get <a href="{% url 'fits_sdss_fields_box' %}?ralo={{ralo}}&rahi={{rahi}}&declo={{declo}}&dechi={{dechi}}&version={{version}}&datatype=sdss">FITS table of SDSS fields</a>
</p>

{% endif %}

<p>
Either use the direct links to download individual fields,
<br/>
or select fields using the checkboxes under <b>Get?</b> to select a set of fields.
</p>

{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="{{ myurl }}&page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="{{ myurl}}&page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}

<form action="{% url 'phot-fieldset-tgz' %}" method="post">{% csrf_token %}
<input type="hidden" name="version" value="{{ version }}" />
<table id="fieldtab">
  <thead>
    <tr>
      <th>Get?<br>
        <a onclick="javascript:checkAll('fieldtab',true);" href="javascript:void(0);">all</a>
        <a onclick="javascript:checkAll('fieldtab',false);" href="javascript:void(0);">none</a>
      </th><th>SDSS field <br />(Run/Camcol/Field)</th>
      <th>RA (deg)</th><th>Dec (deg)</th>
      <th>WISE forced photometry</th>
      <th>SDSS photoObj</th>
    </tr>
  </thead>
  <tbody>

  {% for field in object_list %}
  <tr class="{% cycle 'even' 'odd' %}">
    <td><input type="checkbox" name="field{{ forloop.counter}}"
               value="{{ field.run }}/{{ field.camcol }}/{{ field.field }}">
    </td>
    <td>{{ field.run }} / {{ field.camcol }} / {{ field.field }}</td>
    <td>{{ field.ra|floatformat:3 }}</td>
    <td>{{ field.dec|floatformat:3 }}</td>
    <td><a href="{{ dataurl }}{{ field.path }}">{{ field.filename }}</a></td>
    <td><a href="{{ field.sdssurl }}">{{ field.sdssfile }}</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<br/>
<br/>
<input type="submit" value="Download selected files" class="bigbutton">
</p>
</form>

<br/>
<hr/>
<br/>

<p class="light">Table design: <a href="http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/">R. Christie</a></small>
</center>
{% endblock %}

