{% extends "base.html" %}

{% block title %}
unWISE coadds: data access
{% endblock %}

{% block css %}
.formtab {
font-size: 14px;
background: #fff;
margin: 15px;
width: 480px;
border-collapse: collapse;
text-align: left;
}
.formtab td
{
color: #669;
padding: 9px 8px 0px 8px;
}
.formtab tbody tr:hover td
{
color: #009;
}
.notebox {
text-align:left;
width: 60%;
}
{% endblock %}

{% block content %}
<center>
<h2>unWISE coadds: pick your access method</h2>

<hr>

<div class="notebox">
Note: this form allows only the simplest kind of single RA,Dec search
and returns full tiles.  For postage stamps, see below.  Adding the
ability to do postage-stamp cutouts for a list of sources is a to-do
item.  Please feel free to <a href="mailto:query@unwise.me">email us
at query@unwise.me</a> with any questions or problems you encounter.
Thanks!
</div>

<hr>

<h3>Cone Search for Tiles:</h3>
<form action="{{ url }}">
  {{ form.non_field_errors }}
  <table class="formtab">
    <tbody>
    <tr>
      <td align="right"><label for="id_version">Version:</label></td>
      <td>
        {{ form.version }}
        {{ form.version.errors }}
      </td>
    </tr>
    <tr>
      <td align="right"><label for="id_coord">Coordinates:</label></td>
      <td>
        {{ form.coord }}
        {{ form.coord.errors }}
      </td>
    </tr>
    <tr>
      <td  align="right"><label for="id_radius">Radius (deg):</label></td>
      <td>
        {{ form.radius }}
        {{ form.radius.errors }}
      </td>
    </tr>
    <tr><td colspan="2" align="center">
        <input type="submit" value="Search" class="bigbutton" />
    </td></tr>
    </tbody>
  </table>
  Coordinates example: "45 17" (decimal degrees), "12:57:10.4 -43:65:10" (hh:mm:ss dd:mm:ss).<br/><br/>
  radius is <i>in addition</i> to the tile size, so to find the tile containing your coordinate, set the radius to zero.
  <br/><br/>
  <b>Note:</b> the NeoWISE-R1 and NeoWISE-R2 versions ONLY contain W1 and W2 images.  The AllWISE version contains W1, W2, W3 and W4.
  <br/><br/>
  The unWISE coadds are on the same tile centers as the WISE Atlas Images.
  <br/>They are about 1.6 degrees wide (2048 pixels at 2.75" for unWISE).
  <br/><br/>
  The "NeoWISE-R1" version is described in <a href="https://arxiv.org/abs/1603.05664">Meisner et al 2016, arXiv:1603.05664</a>, and includes data from the original WISE mission as well as the NeoWISE-Reactivation Year 1 data.  It also has better artifact removal than the "AllWISE" version.  The "AllWISE" version is described in <a href="http://arxiv.org/abs/1405.0308">Lang 2014, arXiv:1405.0308</a>, and includes data from the original WISE mission.
</td></tr>
</form>

<hr>

<h3>Get a Cutout:</h3>
<form action="{% url 'cutout_fits' %}">
  {{ cutoutform.non_field_errors }}
  <table class="formtab">
    <tbody>
    <tr>
      <td align="right"><label for="id_version">Version:</label></td>
      <td>
        {{ cutoutform.version }}
        {{ cutoutform.version.errors }}
      </td>
    </tr>
    <tr>
      <td align="right"><label for="id_ra">RA:</label></td>
      <td>
        {{ cutoutform.ra }}
        {{ cutoutform.ra.errors }}
      </td>
    </tr>
    <tr>
      <td align="right"><label for="id_dec">Dec:</label></td>
      <td>
        {{ cutoutform.dec }}
        {{ cutoutform.dec.errors }}
      </td>
    </tr>
    <tr>
      <td align="right"><label for="id_size">Size in pixels:</label></td>
      <td>
        {{ cutoutform.size }}
        {{ cutoutform.size.errors }}
      </td>
    </tr>
    <tr>
      <td align="right"><label for="id_bands">Bands (1,2,3,4):</label></td>
      <td>
        {{ cutoutform.bands }}
        {{ cutoutform.bands.errors }}
      </td>
    </tr>
    <tr>
      <td align="right">File types included:<br /></td>
      <td>
        {{ cutoutform.file_img_m }} Image <br />
        {{ cutoutform.file_invvar_m }} Inverse-variance of image<br />
        {{ cutoutform.file_n_m }} Number of exposures in coadd<br />
        {{ cutoutform.file_std_m }} Standard deviation of exposures <br />
      </td>
    </tr>
    <tr><td colspan="2" align="center">
        <input type="submit" value="Get Cutouts" class="bigbutton" />
    </td></tr>
    </tbody>
  </table>
  Returns a .tar.gz file of FITS cutouts, for all tiles overlapping the given RA,Dec<br/><br/>
  Maximum cutout size is 1024 pixels.<br/><br/>
  Note that you can script this up pretty easily: just request a URL like:<br/>
  <a href="{% url 'cutout_fits' %}?version=neo1&ra=41&dec=10&size=100&bands=12">http://unwise.me{% url 'cutout_fits' %}?version=neo1&ra=41&dec=10&size=100&bands=12</a><br />
  <tt>version</tt> takes value <tt>neo2</tt>, <tt>neo1</tt> or <tt>allwise</tt>.<br/>
  To select a subset of the file types, add <tt>&file_img_m=on</tt>, <tt>&file_invvar_m=on</tt>, <tt>&file_n_m=on</tt>, or <tt>&file_std_m=on</tt> to the URL.
</td></tr>
</form>

<hr>

<div class="notebox">
<h3>Do it yourself:</h3>
<p>
<a href="/data/allwise/unwise-coadds/fulldepth/tiles.fits">FITS table of available tiles</a>
and
<a href="/data/">Direct file access</a>
</p>

<p>
Example: to download all images covering SDSS Stripe 82:
<div align="left">
<pre>
wget http://unwise.me/data/allwise/unwise-coadds/fulldepth/tiles.fits
fitscopy tiles.fits"[dec>-1.6 && dec<1.6]" stripe82-tiles.fits
tablist stripe82-tiles.fits"[col coadd_id]" | tail +3 | awk '{print $2}' \
  | awk '{printf "wget -r -nH --cut-dirs=1 -c http://unwise.me/data/neo3/unwise-coadds/fulldepth/%s/%s/unwise-%s-w1-img-m.fits\n", substr($1,0,3),$1,$1}' \
  > download.sh
chmod 755 download.sh
./download.sh
</pre>
</div>
</p>
</div>

<hr>

</center>
{% endblock %}
