{% extends "base.html" %}
{% load static %}

{% block title %}
unWISE: unblurred coadds from WISE
{% endblock %}

{% block content %}
<center>
<h2>unWISE: unofficial, unblurred coadds of the WISE imaging</h2>
<h3>and</h3>
<h2>Forced photometry of SDSS sources in the WISE imaging</h2>

<table border="0">
<th>WISE All-Sky Release Atlas Image</th><th>unWISE coadd</th>
<tr>
<td><img src="{% static "npole2-00.png" %}" /></td><td><img src="{% static "npole2-01.png" %}" /></td>
</tr>
<tr><td colspan="2" align="center">(W1,W2 composite, tile 2709p666, ~6 arcmin square)</td></tr>
</table>

<br/>

<p class="big"><a href="/imgsearch/">Search &amp; Download Coadd Images</a></p>

<p class="big"><a href="/photsearch/">Search &amp; Download SDSS/WISE Forced Photometry</a></p>

<p class="big"><a href="https://legacysurvey.org/viewer/?layer=unwise-neo7&ra=202.5&dec=47.2&zoom=10">Browse Images</a></p>

<p class="big"><a href="https://catalog.unwise.me">Download the unWISE Catalog</a></p>

<br/>

<p>
  unWISE coadds:<br/>
  Paper 1: <a href="https://arxiv.org/abs/1405.0308">paper (arxiv 1405.0308)</a> or <a href="https://iopscience.iop.org/1538-3881/147/5/108/">(AJ)</a>
  <a href="{% static 'unwise.pdf' %}">(PDF)</a>
  <a href="{% static 'unwise-bw.pdf' %}">(B&amp;W PDF)</a>
<br/>
Paper 2 (NEOWISE-R1): <a href="https://arxiv.org/abs/1603.05664">paper (arxiv 1603.05664)</a>
<br/>
Paper 3 (NEOWISE-R3): <a href="https://arxiv.org/abs/1705.06746">paper (arxiv 1705.06746)</a>
<br/>

Please cite one or more of:
<br/>
Lang, D., 2014, "unWISE: unblurred coadds of the WISE imaging," Astronomical Journal, 147, 108.
<br/>
Meisner, A.M., Lang, D., and Schlegel, D.J., 2016, "Full-depth Coadds of the WISE and First-year NEOWISE-Reactivation Images,"
  arXiv preprint 1603.05664
<br/>
Meisner, A.M., Lang, D., and Schlegel, D.J. (2017) "Deep Full-sky Coadds from Three Years of WISE and NEOWISE Observations," arXiv:1705.06746.
<br/>
<a href="https://github.com/dstndstn/unwise-coadds">code</a>
<br/>
<br/>
SDSS/WISE Forced photometry:
<br/>
Paper: <a href="https://arxiv.org/abs/1410.7397">arxiv 1410.7397</a>
&nbsp;|&nbsp;
<a href="https://github.com/dstndstn/unwise-sdss-phot">code</a><br/>
Please cite: Lang, D., Hogg, D.W., and Schlegel, D.J., 2016, "WISE photometry for 400 million SDSS sources," Astronomical Journal, 151, 36.
<br/><br/>
Contact: <a href="http://dstn.astrometry.net">Dustin Lang</a>, dstndstn at gmail dot com<br/>
Or post questions on the <a href="https://groups.google.com/forum/#!forum/unwise">forum</a></p>

<br/>

<p>
<img src="{% static "orion.jpg" %}" />
<br/>
Orion nebula, W1,W2 composite
</p>
<p>
<img src="{% static "orion34.jpg" %}" />
<br/>
Orion nebula, W3,W4 composite; background-matched, no median-filter
</p>

<p>
<img src="{% static "m31-02.jpg" %}" />
<br/>
Andromeda, W3/W4, background-matched, no median-filter
</p>
{% endblock %}
